@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

/* 
CSS Custom Property | variable
*/
:root{
    --primary-color: #E02C6D;
    --main-color: #3A3A3A;
    --card-color: #18191F;
    --paragraph-color: #787885;
}

/* 
Common Style
*/


.display-flex{
    display: flex;
}

.section-padding{
    padding: 20px 50px;
}

.btn-primary{
    padding: 10px 50px 10px 20px;
    border-radius: 50px;
    color: white;
    background-color: var(--primary-color);
    border: none;
    position: relative;
}

.btn-primary i{
    position: absolute;
    top: 30%;
    right: 20px;
}

/* 
---------------------------------------- Navbar Section ----------------------------------
*/
.navbar{
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}

.navbar i{
    color: black;
    font-size: 20px;
    font-weight: 700;
}

.menu-icon{
    display: none;
    margin: 10px 5px 5px;
}

.brand{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--main-color);
}

.menu-item,
.cart-icon{
    margin: 10px 5px 5px;
    position: relative;
}

.cart-icon::before{
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: var(--main-color);
    position: absolute;
    right: -3px;
}

.menu-link{
    padding: 10px;
    font-weight: 600;
    color: var(--main-color);
}



/* 
-------------------------------------- Hero Section ---------------------------------------
*/
.hero-section{
    max-width: 1440px;
    margin: 0 auto;
    gap: 20px;
}

.hero-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.hero-content h1{
    font-size: 2.8rem;
    color: var(--main-color);
}

.hero-content p{
    margin: 10px 0 20px;
    max-width: 500px;
    font-weight: 500;
}

.hero-img{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.hero-img img{
    width: 100%;
    margin-bottom: 40px;
}


/* 
--------------------------------------------- Our clint Section ------------------------------------
*/
.our-clint-section{
    max-width: 1440px;
    margin: 20px auto 50px;
}

.our-clint-container{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(7,1fr);
    justify-items: center;
    align-items: center;
    padding: 20px 0;
    border-top: 2px solid rgba(192, 204, 218, 10%);
    border-bottom: 2px solid rgba(192, 204, 218, 10%);
    justify-content: center;
    align-content: center;
}

.our-clint-container div > img{
    width: 100%;
}

/* 
------------------------------------------- Product Section -------------------------------------
*/
.product-section{
    max-width: 1440px;
    margin: 0 auto;
}

.product-section h1{
    font-size: 1.5rem;
    color: var(--main-color);
    text-align: center;
    margin-bottom: 50px;
}


.product-container{
    display: grid;
    gap: 20px;
    justify-content: space-evenly;
    align-content: center;
    grid-template-columns: repeat(4, 1fr);
}

.product-item{
    padding: 10px;
    background-color: white;
    border-radius: 3px;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
}

.product-item img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.product-name{
    font-weight: 500;
    font-size: 1.5rem;
    color: #18191F;
    margin: 10px 0 5px;
}

.product-price{
    font-weight: 400;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 87%);
}

.product-item .rating{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 7px 0;
}

.rating-icon i{
    font-size: .8rem;
    color: #FB8200;
}

.rating small{
    font-size: 1rem;
    font-weight: 500;
    color: #5E6366;
}

.product-item .description{
    font-weight: 500;
    color: #787885;
}

.more-div{
    margin-top: 30px;
    text-align: end;
    font-weight: 700;
    color: var(--primary-color);
    position: relative;
    padding-right: 30px;
}

.more-div i{
    margin-left: 10px;
    position: absolute;
    right: 0;
    top: 2px;
}

/* 
---------------------------------------- Featured Section -------------------------------------
*/
.featured-section{
    max-width: 1440px;
    margin: 50px auto;
    gap: 100px;
}

.featured-img{
    width: 30%;
    height: 270px;
}

.featured-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.featured-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.featured-content h2{
    font-size: 2.2rem;
    color: #0A0826;
}

.featured-content p{
    max-width: 500px;
    color: #6C6C6C;
    margin-top: 15px;
}

.featured-content button{
    border-radius: 4px;
    margin-top: 15px;
}


/* 
-------------------------------------- Footer Section -----------------------------------
*/
.footer-section{
    width: 100%;
    background-color: #0A0826;
    color: white;
}

.footer-content{
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}

.footer-content h2{
    margin-bottom: 8px;
    font-size: 1.3rem;
}

.footer-content p{
    color: #D9DBE1;
    font-size: .8rem;
    margin-bottom: 5px;
}

.social-container{
    justify-content: center;
    align-items: center;
}

.social-icon{
    width: 32px;
    height: 32px;
    background-color: #22213c;
    margin: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* 
-------------------------------------- Responsive -----------------------------------------------
*/
/* Small device */
@media screen and (max-width: 576px){

    /* navbar section */
    .menu{
        display: none;
    }

    .menu-icon{
        display: block;
    }

    .brand{
        font-size: 1rem;
    }

    .section-padding{
        padding: 20px;
    }

    .hero-content h1{
        font-size: 2rem;
    }

    .hero-content p{
        font-size: .8rem;
    }

    .hero-section,
    .featured-section{
        flex-direction: column-reverse;
    }

    .product-container{
        grid-template-columns: 1fr;
    }

    .featured-content,
    .featured-img,
    .hero-content,
    .hero-img{
        width: 100%;
        text-align: center;
    }

    .featured-section{
        gap: 30px;
    }

    .featured-content h2{
        font-size: 1.8rem;
    }

    .featured-content,
    .hero-content{
        align-items: center;
    }

    .our-clint-container{
        grid-template-columns: repeat(4, 1fr);
    }

    .our-clint-container div > img{
        width: 90%;
    }
}


/* Medium device */
@media screen and (min-width: 576px) and (max-width: 992px){


    /* navbar section */
    .menu{
        display: none;
    }

    .menu-icon{
        display: block;
    }

    .section-padding{
        padding: 20px 30px;
    }


    .hero-section,
    .featured-section{
        flex-direction: column-reverse;
    }

    .product-container{
        grid-template-columns: repeat(2,1fr);
    }

    .featured-content,
    .featured-img{
        width: 100%;
        text-align: center;
    }
    
    .hero-content{
        width: 100%;
    }

    .hero-img{
        width: 60%;
        margin: 0 auto;
    }

    .featured-section{
        gap: 30px;
    }

    .featured-content{
        align-items: center;
    }

    .our-clint-container{
        grid-template-columns: repeat(4, 1fr);
    }

}


/* Laptop Screen */
@media screen and (min-width: 992px) and (max-width: 1200px){
    .product-container{
        grid-template-columns: repeat(3, 1fr);
    }
}